/* 
    Author     : Your name here
*/
div {
    font-family: tahoma;
    margin-left: 4em;
    max-width: 1000px;
    background-color: #FFF9DC;
}

section {
    padding: 2em;
}

h1, h2 {
    color: #370F57;
}

